@if(updatedTask){
<section class="task">
  <header
    style="
      margin-bottom: -6px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
    "
  >
    <textarea
      placeholder="Add title..."
      (input)="onChange($event, 'title')"
      class="taskTitle"
      [value]="updatedTask.taskName"
    ></textarea>
    <span (click)="removeTask()">
      <mat-icon style="cursor: pointer; color: violet">delete</mat-icon>
    </span>
  </header>
  <time class="date">Modified on : {{ formattedDate }}</time>
  <textarea
    placeholder="Add description..."
    (input)="onChange($event, 'description')"
    class="taskDescription"
    [value]="updatedTask.taskDescription"
    oninput="this.style.height = '100px';"
  ></textarea>
  @if(updatedTask.taskName || updatedTask.taskDescription){
  @if(showUpdateTaskButton){
  <button class="completeBtn" (click)="onUpdate()">Save</button>
  } @else{
  <button class="completeBtn" (click)="onComplete()">Complete</button>
  }}
</section>
}
